html
	head
		meta(name='format-detection', content='telephone=no')
		meta(name='msapplication-tap-highlight', content='no')
		meta(name='viewport', content='user-scalable=no',
		initial-scale=1, maximum-scale=1, minimum-scale=1, width='device-width')
		link(rel="stylesheet", href="js/lib/vex/css/vex.css")
		link(rel="stylesheet", href="js/lib/vex/css/vex-theme-wireframe.css")
		link(rel="stylesheet", type="text/css", href="css/index.css")
		script(src="js/lib/jquery/dist/jquery.min.js")
		script(type="text/javascript").
			$(function () {
				$('#placeholderLinkText').click(function () {
					window.location.href = 'https://www.fongphone.com';
				});
			});
		title Welcome to the Fong Tron
	body(data-play-again='#{playAgain}' class="placeholder-screen")
		div(class="page {{ pageClass }}", ng-view)
			div(class="ui-display-area ui-display-area-thank-you")
				div(id="placeholderTitleWrapper")
					div(id="placeholderTitleInner")
						h1(id="placeholderTitleText")
							span(id="titleMainText") Fong Tron
							span(id="titleDescText") &nbsp;Collaborative Soundscapes
				div(id="placeholderMessageOuter")
					div(id="placeholderMessageInner")
						span.
							The Fong Tron will return to the Living Arts and Science Center on July 15th.
							In the meantime time check out
						span(id="placeholderLinkText") &nbsp;www.fongphone.com
						span &nbsp;for news and info on the Fong Phone App and related projects
					div(id="placeHolderImage")
						img(src="img/fongTronWeb.png")