html
	head
		meta(name='format-detection', content='telephone=no')
		meta(name='msapplication-tap-highlight', content='no')
		meta(name='viewport', content='user-scalable=no', initial-scale=1, maximum-scale=1, minimum-scale=1, width='device-width')

		script(src="js/lib/socket.io.js")
		script(src="js/lib/magictouch.js")
		script(src="js/lib/hammerjs/hammer.min.js")
		script(src="js/lib/lodash/lodash.min.js")
		script(src="js/lib/async/dist/async.min.js")
		script(src="js/lib/angular/angular.min.js")
		script(src="js/lib/ngDraggable/ngDraggable.js")
		script(src="js/lib/angular-route/angular-route.min.js")
		script(src="js/lib/angular-animate/angular-animate.min.js")
		script(src="js/lib/jquery/dist/jquery.min.js")
		script(src="js/lib/jquery-touch-events/src/1.0.1/jquery.mobile-events.min.js")
		script(src="js/lib/jquery-knob/dist/jquery.knob.min.js")
		script(src="js/lib/js-signals/dist/signals.min.js")
		script(src="js/lib/vex/js/vex.combined.min.js")

		script(src="js/lib/sweetalertjs/sweetalert.min.js")
		link(rel="stylesheet", href="js/lib/sweetalertjs/sweetalert.css")

		link(rel="stylesheet", href="js/lib/vex/css/vex.css")
		link(rel="stylesheet", href="js/lib/vex/css/vex-theme-wireframe.css")
		script(src="js/lib/teoria/teoria.js")
		link(rel="stylesheet", type="text/css", href="css/index.css")
		title Fong Phone
	body(data-subspace='#{subspace}',)
		div(class="page {{ pageClass }}", ng-view)
		script(src="js/logic/util.namespaces.js")
		script(src="js/logic/ui.navigation.tabs.js")
		script(src="js/logic/logic.defaults.js")
		script(src="js/logic/util.mixins.toJSON.js")
		script(src="js/logic/logic.noteinfo.js")
		script(src="js/logic/au.fong.js")
		script(src="js/logic/boardLogic.js")
		script(src="js/logic/ui.helper.js")
		script(src="js/remoteController/gallery.ui.sound.js")
		script(src="js/logic/util.helpers.js")
		script(src="js/logic/ui.fong.js")
		script(src="js/remoteController/gallery.ui.pad.js")
		script(src="js/remoteController/gallery.ui.map.js")
		if subspace == '/pad2'
			script(src="js/defaults/remote.pad2.defaults.js")
		else if subspace == '/pad1'
			script(src="js/defaults/remote.pad1.defaults.js")
		else
			script(src="js/defaults/displayServer.pad.defaults.js")
		script(src="js/defaults/defaults.soundBoardSettings.js")
		script(src="js/defaults/defaults.noteMapSettings.js")
		script(src="js/displayServer/ui.states.js")
		script(src="js/remoteController/gallery.app.js")
