<svg width="100%" id="phongUIGrid" height="800px" class="ui-display-area">
    Sorry, SVG support is required.
    <circle id="oscTouch1" cx="60" cy="60" r="60" style="fill:#f17f25;stroke:black;stroke-width:5;opacity:0.5" />
    <circle id="oscTouch2" cx="200" cy="200" r="60" style="fill:#1d50f1;stroke:black;stroke-width:5;opacity:0.5" />

    <circle id="oscTouchFade1" cx="60" cy="60" r="10" style="fill:#7696f1;stroke:black;stroke-width:1;opacity:0.5" />
    <circle id="oscTouchFade2" cx="200" cy="200" r="10" style="fill:#7696f1;stroke:black;stroke-width:1;opacity:0.5" />


    <rect id="oscTouchOnOff1" width="50%" height="20" style="fill:#f17f25;stroke-width:3;stroke:rgb(0,0,0)" />
    <rect id="oscTouchOnOff2" width="50%" height="20" x="50%" style="fill:#1d50f1;stroke-width:3;stroke:rgb(0,0,0)" />
</svg>