<div class="help-title">
	<h1>Fong Phone</h1>
	<p>
		<em>You have just purchased something strange...</em>
	</p>
	<p>
		Congratulations!!!
	</p>
</div>

<div class="help-text">
	<p>
		This app emulates a piece of hardware I built in a shoebox. Now it's in your phone and making noise!
		To take control of the sounds coming from your phone, you will want to swipe up from the bottom edge of the
		screen. This will take you to the fong pad where you see two circles.
	</p>
	<p>
		The circle are called fongs. They are what's making the noise. Slide the fongs up and down to change their pitch.
		Sliding the orange fong left and right changes the over all rate at which the fongs pulsate. If you slide the
		blue fong left or right it changes the offset between the rate at which the fongs pulse (These two fongs are
		linked bra).
	</p>
	<p>
		Long press on either fong to cycle through the wave function used (square, sine, saw-tooth).
	</p>
	<p>
		Double tap a fong and it will stop pulsing and emit a continuous tone (double again to revert).
	</p>
	<p>
		Normally these fongs are like all over the spectrum. They can't be boxed into your notes bra, but swipe up from
		the bottom of the fong pad to reveal and note map.
	</p>
	<p>
		If you turn on the note map you can select notes to be included or excluded. The phongs will be mapped onto one
		of these notes as you slide it up and down the pad.
	</p>
	<p>
		To return to the fong pad from the note map just swipe down from the top of the screen (hidden navigation components
		at the edges of the screen worked for windows 8 right?)
	</p>
	<p>
		To get back to this screen from any of the other just keep swiping down from the top edge, until you see it.
	</p>
	<p>
		Also  this is untested stuff I made while pretending to be in my parents basement; so, if it doesn't work I claim
		no responsibility, and if you're using this in production I want whatever job you have.
	</p>
</div>