<svg width="100%" id="phongUIGrid" height="800px" class="ui-display-area">

	<rect id="uiPadSwipeTop" cx="0" cy="200" width="100%" height="60" style="fill:#ada0a6;stroke-width:0;stroke:rgb(0,0,0)" />
	<rect id="uiPadSwipeBottom" width="100%" height="60" style="fill:#7d938a;stroke-width:0;stroke:rgb(0,0,0)" /> Sorry, SVG support is required.

	<circle id="oscTouch1" class="fong" cx="60" cy="60" r="60" class="fong" style="fill:#ded6d6;" data-index="0" />
	<circle id="oscTouch2" class="fong" cx="200" cy="200" r="60" class="fong" style="fill:#d2cbcb;" data-index="1" />

	<circle id="oscTouchFade1" class="fade" cx="60" cy="60" r="10" style="fill:#ffffff;opacity:0.5" data-index="0" />
	<circle id="oscTouchFade2" class="fade" cx="200" cy="200" r="10" style="fill:#ffffff;opacity:0.5" data-index="1" />

	<div id="log" style="background-color: #ffffff; height: 60px; width: 100%;	position: absolute;
	left: 0px;
	top: 0px;height:20px;">out</div>

</svg>