<div class="ui-display-area">
	<div id="statesUI">
		<svg width="100%" height="20" class="fong-phone-apple-status-bar">
			<defs>
				<linearGradient id="gradTop" x1="30%" y1="70%">
					<stop offset="0%" stop-color="#ffffff" stop-opacity=".8">
						<animate attributeName="stop-opacity" values=".9;.8;.9" dur="30s" repeatCount="indefinite" />
					</stop>
					<stop offset="100%" stop-color="#ffffff" stop-opacity=".9">
						<animate attributeName="stop-opacity" values=".8;.9;.8" dur="33s" repeatCount="indefinite" />
					</stop>
				</linearGradient>
			</defs>
			<rect width="100%" height="20" fill="url(#gradTop)" />
		</svg>

		<div class="statesTable">
			<div ng-repeat='rows in storedTable track by $index'>
				<div id="state{{item.index}}" class="{{ item.preset != null ? 'state' : 'stateUnused' }}" 
					 ng-repeat='item in rows' 
					 ng-click="applyPreset(item)"
					 style="width: {{item.width}};height: {{item.height}};opacity:{{ item.preset != null ? .4 : .15 }};">
				</div>
			</div>
			<div style="margin: auto;margin-top:5px;height:45px;">
				<div id="stateDefault" 
					 style="opacity:.4;background-color:white;border-radius:5px;margin: auto;height:45px;margin-left:25px;margin-right:25px;"></div>
			</div>
		</div>
	</div>

	<div class="fong-phone-nav-bar-container">
		<div ng-repeat="tab in tabbedNavigationTabs"
			 class="fong-phone-button {{ tab.tabClass }}
		 	{{ tab.pageClass === pageClass ? 'fong-phone-button-selected' : '' }}">
			<div ng-click="tabNavigationFunc(tab.location)"></div>
			{{ tab.text }}
		</div>
	</div>
</div>