<div class="ui-display-area">
	<div id="soundUI">
		<svg width="100%" height="20">
			<defs>
				<linearGradient id="gradSwipe" x1="30%" y1="70%">
					<stop offset="0%" stop-color="rgba(255,255,255,.1)">
						<animate attributeName="stop-color" values="rgba(255,255,255,.9); rgba(255,255,255,.1); rgba(255,255,255,.9)" dur="30s" repeatCount="indefinite" />
					</stop>
					<stop offset="100%" stop-color="rgba(255,255,255,.9)">
						<animate attributeName="stop-color" values="rgba(255,255,255,.1); rgba(255,255,255,.9); rgba(255,255,255,.1); " dur="33s" repeatCount="indefinite" />
					</stop>
				</linearGradient>
			</defs>
			<rect width="100%" height="20" fill="url(#gradSwipe)" />
		</svg>

		<div id="soundControlsDiv" class="scrollable">
			<table class="ui-sound-table">
				<tr>
					<td class="ui-map-note-map-toggle {{ FilterOn ? 'map-note-on' : 'map-note-off' }}" colspan="4" ng-click="toggleFilterClick()">
						Filter {{ FilterOn ? 'On' : 'Off' }}
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2" style="width:50%">Resonance</td>
					<td class="ui-map-note-map-toggle" colspan="2">
						<div style="position:relative;">
							<input id="filterResonanceControl" type="text" class="dial" data-min="0" data-max="100" data-width="80">
						</div>
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2" rowspan="2">Filter Type</td>
					<td class="ui-map-note-map-base-note {{ IsSelectedFilterType('lowpass') ? 'selectedScale' : '' }}" ng-click="changeFilterType($event)">
						lowpass
					</td>
					<td class="ui-map-note-map-base-note {{ IsSelectedFilterType('highpass') ? 'selectedScale' : '' }}" ng-click="changeFilterType($event)">
						highpass
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-base-note {{ IsSelectedFilterType('peaking') ? 'selectedScale' : '' }}" ng-click="changeFilterType($event)">
						peaking
					</td>
					<td class="ui-map-note-map-base-note {{ IsSelectedFilterType('notch') ? 'selectedScale' : '' }}" ng-click="changeFilterType($event)">
						notch
					</td>
				</tr>
			</table>
			<table class="ui-sound-table">
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2" rowspan="2">Wave 1</td>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc1Type('square') ? 'selectedScale' : '' }}" ng-click="changeOsc1Type($event)">
						square
					</td>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc1Type('sine') ? 'selectedScale' : '' }}" ng-click="changeOsc1Type($event)">
						sine
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc1Type('triangle') ? 'selectedScale' : '' }}" ng-click="changeOsc1Type($event)">
						triangle
					</td>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc1Type('sawtooth') ? 'selectedScale' : '' }}" ng-click="changeOsc1Type($event)">
						sawtooth
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2">Envelope 1</td>
					<td class="ui-map-note-map-toggle" colspan="2">
						<div style="position:relative;">
							<input id="env1Control" type="text" class="dial" data-min="1" data-max="50" data-width="80">
						</div>
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2" rowspan="2">Env 1 Type</td>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc1EnvType('square') ? 'selectedScale' : '' }}" ng-click="changeOsc1EnvType($event)">
						square
					</td>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc1EnvType('sine') ? 'selectedScale' : '' }}" ng-click="changeOsc1EnvType($event)">
						sine
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc1EnvType('triangle') ? 'selectedScale' : '' }}" ng-click="changeOsc1EnvType($event)">
						triangle
					</td>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc1EnvType('sawtooth') ? 'selectedScale' : '' }}" ng-click="changeOsc1EnvType($event)">
						sawtooth
					</td>
				</tr>
			</table>
			<table class="ui-sound-table">
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2" rowspan="2">Wave 2</td>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc2Type('square') ? 'selectedScale' : '' }}" ng-click="changeOsc2Type($event)">
						square
					</td>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc2Type('sine') ? 'selectedScale' : '' }}" ng-click="changeOsc2Type($event)">
						sine
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc2Type('triangle') ? 'selectedScale' : '' }}" ng-click="changeOsc2Type($event)">
						triangle
					</td>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc2Type('sawtooth') ? 'selectedScale' : '' }}" ng-click="changeOsc2Type($event)">
						sawtooth
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2">Envelope 2</td>
					<td class="ui-map-note-map-toggle" colspan="2">
						<div style="position:relative;">
							<input id="env2Control" type="text" class="dial" data-min="1" data-max="50" data-width="80">
						</div>
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2" rowspan="2">Env 2 Type</td>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc2EnvType('square') ? 'selectedScale' : '' }}" ng-click="changeOsc2EnvType($event)">
						square
					</td>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc2EnvType('sine') ? 'selectedScale' : '' }}" ng-click="changeOsc2EnvType($event)">
						sine
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc2EnvType('triangle') ? 'selectedScale' : '' }}" ng-click="changeOsc2EnvType($event)">
						triangle
					</td>
					<td class="ui-map-note-map-scale {{ IsSelectedOsc2EnvType('sawtooth') ? 'selectedScale' : '' }}" ng-click="changeOsc2EnvType($event)">
						sawtooth
					</td>
				</tr>
			</table>
			<table class="ui-sound-table">
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2">Glide</td>
					<td class="ui-map-note-map-toggle" colspan="2">
						<div style="position:relative;">
							<input id="portamentoControl" type="text" class="dial" data-min="0" data-max="1000" data-width="80">
						</div>
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2">Filter Glide</td>
					<td class="ui-map-note-map-toggle" colspan="2">
						<div style="position:relative;">
							<input id="filterPortamentoControl" type="text" class="dial" data-min="0" data-max="10000" data-width="80">
						</div>
					</td>
				</tr>
			</table>
			<table class="ui-sound-table">
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2">Delay Volume</td>
					<td class="ui-map-note-map-toggle" colspan="2">
						<div style="position:relative;">
							<input id="delayVolumeControl" type="text" class="dial" data-min="0" data-max="100" data-width="80">
						</div>
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2">Delay</td>
					<td class="ui-map-note-map-toggle" colspan="2">
						<div style="position:relative;">
							<input id="delayTimeControl" type="text" class="dial" data-min="250" data-max="10000" data-width="80">
						</div>
					</td>
				</tr>
				<tr>
					<td class="ui-map-note-map-toggle" colspan="2">Feedback</td>
					<td class="ui-map-note-map-toggle" colspan="2">
						<div style="position:relative;">
							<input id="delayFeedbackControl" type="text" class="dial" data-min="0" data-max="20" data-width="80">
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<svg width="100%" class="ui-display-area">
		<defs>
			<linearGradient id="gradSwipe" x1="30%" y1="70%">
				<stop offset="0%" stop-color="rgba(255,255,255,.1)">
					<animate attributeName="stop-color" values="rgba(255,255,255,.1); rgba(255,255,255,.9); rgba(255,255,255,.1)" dur="30s" repeatCount="indefinite" />
				</stop>
				<stop offset="100%" stop-color="rgba(255,255,255,.9)">
					<animate attributeName="stop-color" values="rgba(255,255,255,.9); rgba(255,255,255,.1); rgba(255,255,255,.9); " dur="33s" repeatCount="indefinite" />
				</stop>
			</linearGradient>
		</defs>
		<rect id="mapPadSwipeDown" width="100%" height="40" fill="url(#gradSwipe)" /> Sorry, SVG support is required.
	</svg>
</div>