<table class="ui-map-table">
    <tr ng-repeat="x in availableNotesByRow" class="ui-map-row">
        <td class="ui-map-column map-note {{ x[0].on ? 'map-note-on' : 'map-note-off' }}" ng-click="noteClick($index,0)">{{ x[0].label }}</td>
        <!--<td class="ui-map-column map-note {{ x[1].on ? 'map-note-on' : 'map-note-off' }}" ng-click="noteClick($index,1)">{{ x[1].label }}</td>
        <td class="ui-map-column map-note {{ x[2].on ? 'map-note-on' : 'map-note-off' }}" ng-click="noteClick($index,2)">{{ x[2].label }}</td>
        <td class="ui-map-column map-note {{ x[3].on ? 'map-note-on' : 'map-note-off' }}" ng-click="noteClick($index,3)">{{ x[3].label }}</td>-->
    </tr>
    <tr>
        <td class="ui-map-note-map-toggle {{ NoteMapOn ? 'map-note-on' : 'map-note-off' }}" colspan="1" ng-click="toggleClick()">
            Note Map {{ NoteMapOn ? 'On' : 'Off' }}
        </td>
    </tr>
</table>
<div id="mapPadSwipeDown" style="background-color: #ffffff; height: 60px; width: 100%; position: absolute;"></div>
<!--
<svg id="phongUINoteMap" class="ui-display-area">
    <rect ng-y="{{ ($index*20+5) - windowHeight*Math.floor(($index*20+5)/windowHeight);  }}",
          ng-x="{{ (windowHeight > ($index*20+5)) ? 0 : 25 }}",
          ng-click="noteClick($index)"
          class="map-note {{ note.on ? 'map-note-on' : 'map-note-off' }}" width="20px" height="20px" ng-repeat="note in NoteMap"/>
    <text ng-y="{{ ($index*20+17) - windowHeight*Math.floor(($index*20+17)/windowHeight); }}"
          ng-x="{{ (windowHeight > ($index*20+5) ? 0 : 25) + 5 }}",
          ng-click="noteClick($index)"
          font-size="11" fill="black" ng-repeat="note in NoteMap">{{note.label}}</text>
</svg>-->
