<div class="ui-display-area">
	<div id="statesUI">
		<!-- DEBUG -->
		<svg id="svgLog" width="100%" height="20">
			<defs>
				<linearGradient id="gradTop" x1="30%" y1="70%">
					<stop offset="0%" stop-color="#ffffff" stop-opacity=".8">
						<animate attributeName="stop-opacity" values=".9;.8;.9" dur="30s" repeatCount="indefinite" />
					</stop>
					<stop offset="100%" stop-color="#ffffff" stop-opacity=".9">
						<animate attributeName="stop-opacity" values=".8;.9;.8" dur="33s" repeatCount="indefinite" />
					</stop>
				</linearGradient>
			</defs>
			<rect width="100%" height="20" fill="url(#gradTop)" />
		</svg>

		<!----- CONTENT ------>
		<div class="statesTable">
			<div ng-repeat='rows in storedTable track by $index'>
				<div id="state{{item.index}}" class="{{ item.preset != null ? 'state' : 'stateUnused' }}" 
					 ng-repeat='item in rows' 
					 ng-click="applyPreset(item)"
					 style="width: {{item.width}};height: {{item.height}};opacity:{{ item.preset != null ? .4 : .15 }};">
				</div>
			</div>
			<div style="margin: auto;margin-top:5px;height:45px;">
				<div id="stateDefault" 
					 style="opacity:.4;background-color:white;border-radius:5px;margin: auto;height:45px;margin-left:25px;margin-right:25px;"></div>
			</div>
		</div>


		<!------------->

	</div>

	<!--- BOTTOM SWIPE -->
	<svg id="svgSwipe" width="100%" height="40">
		<defs>
			<linearGradient id="gradSwipeStates" x1="30%" y1="70%">
				<stop offset="0%" stop-color="#ffffff" stop-opacity=".1">
					<animate attributeName="stop-opacity" values=".9;.1;.9" dur="30s" repeatCount="indefinite" />
				</stop>
				<stop offset="100%" stop-color="#ffffff" stop-opacity=".9">
					<animate attributeName="stop-opacity" values=".1;.9;.1" dur="33s" repeatCount="indefinite" />
				</stop>
			</linearGradient>
		</defs>
		<rect id="statesSwipeStrip" width="100%" height="40" fill="url(#gradSwipeStates)" /> Sorry, SVG support is required.
	</svg>
</div>